html,
body {
  height: 100%;
  font-size: 12px;
}
.container {
  background-color: #c2e7da;
  color: #000;
  /*padding: 40px 0;*/
  padding-top: 30px;
  min-height: 100%;
}
.container > .row {
  justify-content: center;
}
article {
  color: #000;
  background-color: #6290c3;
  position: relative;
  margin-bottom: 30px;
}
p {
  font-size: 1.2rem;
}
@media (min-width: 576px) {
  p {
    font-size: 2rem;
  }
}
.marcar {
  margin-bottom: 30px;
}
h1 {
  margin-top: 0;
  margin-bottom: 10px;
}
h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.avatar {
  position: relative;
  padding-right: 30px;
  padding-bottom: 20px;
  border-bottom: 2px dashed #fff;
  text-align: center;
}
@media (min-width: 576px) {
  .avatar {
    border-right: 2px dashed #fff;
    border-bottom: none;
    padding-bottom: 0;
    text-align: left;
  }
}
.avatar.marcado img {
  transform: rotateY(180deg);
}
.datos {
  padding: 20px 20px 0;
  font-size: 1.2rem;
}
@media (min-width: 576px) {
  .datos {
    padding-top: 0;
    font-size: 1.6rem;
  }
}
.avatar img {
  transition: all 0.5s;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 100px;
}
@media (min-width: 576px) {
  .avatar img {
    width: auto;
  }
}
.avatar i {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #600;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 20px;
}
@media (min-width: 576px) {
  .avatar i {
    bottom: 0;
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
}
label {
  display: inline-block;
  width: 100px;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  label {
    margin-bottom: 0.5rem;
  }
}
h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2rem;
}
@media (min-width: 576px) {
  h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}
body {
  font-family: "Open Sans";
}
article {
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 20px;
}
.fa-check {
  opacity: 0;
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #060;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.fa-check.visible {
  opacity: 1;
}
.btn {
  display: none;
}
.btn.visible {
  display: block;
}
